name: Run Tests

on:
  push:
    branches: [ main ]
  pull_request:
    # Run on all pull requests, regardless of target branch

env:
  CARGO_TERM_COLOR: always
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/pcg-server

jobs:
  check_warnings:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check for warnings
      env:
        RUSTFLAGS: "-D warnings"
      run: cargo check --all-targets --lib --bins --tests --examples --benches --message-format=json

  clippy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run Clippy
      run: cargo clippy -- -D warnings

  test_files:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run tests on files
      run: cargo test --test test_files

  build_2025_07_21:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build using Rust Nightly 2025-07-21
      run: cp rust-toolchain-2025-07-21 rust-toolchain && cargo build --no-default-features

  # bench_test_files:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v4
  #   - name: Install valgrind
  #     run: sudo apt-get update && sudo apt-get install -y valgrind
  #   - name: Run benchmark tests
  #     run: cargo test --test bench_test_files -- --nocapture --show-output

  test_crates:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run tests on selected crates
      run: cargo test --test selected_crates

  unit_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run unit tests
      run: cargo test --lib

  doc_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run unit tests
      run: cargo test --doc

  prusti_purification_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        path: pcg

    - name: Checkout symbolic execution repository
      uses: actions/checkout@v4
      with:
        repository: zgrannan/symbolic-execution
        ref: zgrannan/next4
        path: symbolic-execution

    - name: Checkout prusti repository
      uses: actions/checkout@v4
      with:
        repository: zgrannan/prusti-dev
        ref: zgrannan/next4
        path: prusti-dev

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly-2024-10-15
        components: rustc-dev, llvm-tools-preview
        override: true

    - name: Install Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Run Prusti tests
      working-directory: prusti-dev
      run: ./x.py setup && python3 test-rpe.py --no-server

  mutation_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        path: pcg

    - name: Checkout flowistry repository
      uses: actions/checkout@v4
      with:
        repository: jaspergeer/pcg-mutation-testing
        ref: main
        path: pcg-mutation-testing

    - name: Build mutation testing tool
      working-directory: pcg-mutation-testing
      run: cargo build

  flowistry_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        path: pcg

    - name: Checkout flowistry repository
      uses: actions/checkout@v4
      with:
        repository: zgrannan/flowistry
        ref: zgrannan/pcg-next4
        path: flowistry

    - name: Run flowistry tests
      working-directory: flowistry/crates/flowistry
      run: cargo test

  # build-docker-image:
  #   runs-on: ubuntu-latest
  #   needs: [check_warnings, clippy, test_files, test_crates, unit_tests, doc_tests, flowistry_tests]
  #   permissions:
  #     contents: read
  #     packages: write

  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4

  #     - name: Log in to the Container registry
  #       uses: docker/login-action@v3
  #       with:
  #         registry: ${{ env.REGISTRY }}
  #         username: ${{ github.actor }}
  #         password: ${{ secrets.GITHUB_TOKEN }}

  #     - name: Extract metadata (tags, labels) for Docker
  #       id: meta
  #       uses: docker/metadata-action@v5
  #       with:
  #         images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
  #         tags: |
  #           type=sha,format=long
  #           type=ref,event=branch
  #           type=ref,event=pr
  #           type=semver,pattern={{version}}
  #           type=semver,pattern={{major}}.{{minor}}

  #     - name: Build and push Docker image
  #       uses: docker/build-push-action@v5
  #       with:
  #         context: .
  #         push: ${{ github.ref == 'refs/heads/main' }}
  #         tags: ${{ steps.meta.outputs.tags }}
  #         labels: ${{ steps.meta.outputs.labels }}
